* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #548690;
  text-align: center;
  font-family: sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  background-color: #ffffc7;
  cursor: pointer;
}

/* Color rules for X and O */
.box.x {
  color: #d32f2f; /* red-ish for X */
}

.box.o {
  color: #388e3c; /* green-ish for O */
}

#rstbtn,
#newbtn {
  padding: 1rem;
  font-size: 1rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#msg {
  color: #ffffc7;
  font-size: 6vmin;
}

.msgHave {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
}

.hide {
  display: none;
}